.shadow {
    img {
        width: 100%;
    }
    

    .contact {
        position: absolute;
        right: 10%;
    }

}

button {
    border-color: transparent !important;
}

@media (max-width: 876px) {
    .shadow {
        display: flex;
        justify-content: space-between;
        img {
            position: relative;
            width: 40% !important;
        }
    
        .menu{
            position: relative;
            top: 25%;
            right: -5%;
        }
        .contact {
            position: relative;
            left: 65% !important ;
        }
    
    }
  }

  .menu{
    background-color: #fff;
  }