.shadow {
    img {
        position: relative;

        width: 100%;
    }

    .contact {
        position: absolute;
        right: 10%;
    }

}

button {
    border-color: transparent !important;
}

@media (max-width: 876px) {
    .shadow {
        img {
            position: relative;
            width: 40% !important;
        }
    
        .contact {
            position: relative;
            left: 60% !important ;
        }
    
    }
  }

  .menu{
    background-color: #fff;
  }