.shadow {
    img {
        width: 100%;
    }
    

    .contact {
        position: relative;
        left: 50%;
    }

}

button {
    border-color: transparent !important;
}

@media (max-width: 876px) {
    .shadow {
        img {
            width: 40% !important;
        }
    
        .menu{
          position: fixed;
          top: 2.7%;
          right: 4%;
        }
        .contact {
            padding-top: 1.1rem;
            text-align: right;
            position: initial;
        }
    
    }
  }

  .menu{
    background-color: #fff;
  }